*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -moz-osx-font-smoothing: grayscale;
  
}

.modal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  background-color: rgb(151, 151, 151);
}

.modal-title-container {
  display: flex;
  justify-content: flex-end;
}
.modal-container {
  width: 100%;
  max-width: min(400px, 100%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}